html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0; padding: 0; border: 0; vertical-align: baseline; font-family: Arial, sans;
}
pre, code, tt, pre *, code *, tt * {
font-size: 14px;
font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.clear {
clear: both;
}
.hidden {
display: none;
}
body {
background: #EBEBEB;
}
#wrapper {
width: 1000px;
margin: 0 auto;
}
#header {
position: relative;
height: 80px;
border-bottom: 1px solid #C00202;
}
#logo {
position: relative;
top: 0;
left: 0;
}
#logo a.logo {
display: block;
background: url(../images/qnnlogo.png) no-repeat;
width: 313px;
height: 48px;
text-indent: -9999px;
position: absolute;
top: 20px;
left: 0;
}
#logo h2 {
position: absolute;
top: 50px;
left: 320px;
font-size: 16px;
}
#header #menu {
position: absolute;
top: 30px;
left: 450px;
}
#header #menu ul {
list-style: none;
}
#header #menu ul li {
float: left;
display: block;
width: 80px;
height: 50px;
margin: 0 2px 0 0;
padding: 0 0 0 8px;
background: url(../images/menusep.png) no-repeat 0 5px;
overflow: hidden;
}
#header #menu ul li a {
display: block;
width: 80px;
height: 33px;
text-align: center;
font-size: 14px;
padding: 8px 0 0 0;
margin: 0;
color: #333;
border-top: 3px solid #EBEBEB;
text-decoration: none;
overflow: hidden;
letter-spacing: -1px;
}
#header #menu ul li a:hover, #header #menu ul li a.current {
border-top: 3px solid #D71920;
text-decoration: none;
}
#header #menu ul li a em {
font-style: normal;
font-size: 12px;
display: block;
letter-spacing: 0;
}
#header #menu ul li.end {
width: 7px;
margin: 0;
padding: 0;
}
#header #menu ul li.end a {
width: 7px;
}
#header #telephone {
position: absolute;
top: 5px;
left: 750px;
background: url(../images/telephone.png) no-repeat 0 0;
text-indent: 28px;
font-size: 14px;
color: #666;
height: 20px;
line-height: 20px;
}
#main {

}
.twocols {
width: 1000px;
overflow: hidden;
}
.twocols .tc_l {
float: left;
width: 300px;
margin-right: 10px;
}
.twocols .tc_l .tc_l_block {
border-left: 1px solid #B9B9B9;
border-right: 1px solid #B9B9B9;
border-bottom: 1px solid #B9B9B9;
margin: 0 0 10px 0;
}
.bcontent {
background: #fff;
padding: 5px;
}
.bcontent p {
font-size: 13px;
text-indent: 26px;
margin: 8px 0;
line-height: 18px;
}
.contactbox {
background: #FFF;
padding: 5px;
text-align: center;
}
.contactbox p {
padding: 5px;
text-align: center;
font-size: 14px;
}
.twocols .tc_r {
float: left;
width: 690px;
}
.twocols .tc_r .tc_r_block {
border-left: 1px solid #B9B9B9;
border-right: 1px solid #B9B9B9;
border-bottom: 1px solid #B9B9B9;
margin: 0 0 10px 0;
background: #fff;
min-height: 500px;
height:auto !important; 
height:500px; 
overflow:visible;
}
.tc_l_block h3, .tc_r_block h3 {
background: url(../images/hbargrad.png) repeat-x 0 0;
height: 34px;
padding: 3px 0 0 8px;
overflow: hidden;
font-size: 15px;
color: #222;
}
.tc_l_block h3 em, .tc_r_block h3 em {
display: block;
font-style: normal;
font-size: 12px;
}
.tc_l_block h3 a, .tc_r_block h3 a {
display: block;
float: right;
width: 60px;
height: 34px;
text-align: right;
font-size: 13px;
text-decoration: none;
padding: 0 10px 0 0;
line-height: 34px;
color: #333;
text-indent: 0;
}
.tc_l_block h3 a:hover, .tc_r_block h3 a:hover {
font-size: 13px;
text-decoration: underline;
}
.productlist {
list-style: none;
width: 688px;
overflow: hidden;
padding-bottom: 20px;
}
.productlist li {
float: left;
width: 187px;
text-align: center;
margin: 20px 0 0 30px;
}
.productlist li img {
display: block;
width: 187px;
height: 150px;
border: 1px solid #CCC;
margin: 0 0 8px 0;
}
.productlist li a {
color: #333;
text-decoration: none;
font-size: 13px;
}
.productlist li a:hover {
text-decoration: underline;
}
#footer {
height: 50px;
background: #D71920;
text-align: center;
padding: 10px;
color: #FFF;
font-size: 13px;
line-height: 21px;
}
.copy {

}
.banner {
margin: 10px 0;
border: 1px solid #aaa;
}

/* sliderkit */
#slider {
margin: 10px 0;
border: 1px solid #666;
box-shadow: 0 2px 3px #666;
}
.photoslider-bullets{width:998px;height:350px;}
.photoslider-bullets .sliderkit-nav{position:absolute;top:325px;left:10px;}
.photoslider-bullets .sliderkit-nav-clip ul li{float:left;margin:0 2px 0 0;}
.photoslider-bullets .sliderkit-nav-clip ul li a{width:16px;height:16px;background:#fff;}
.photoslider-bullets .sliderkit-nav-clip ul li.sliderkit-selected a{background:#DB291D;}
.sliderkit {
display:none;
position:relative;
overflow:hidden;
text-align:left
}
.sliderkit a,.sliderkit a:hover {
text-decoration:none
}
.sliderkit a:focus {
outline:1px dotted #000
}
.sliderkit img {
border:0
}
.sliderkit .sliderkit-nav {
z-index:10;
position:absolute;
text-align:center
}
.sliderkit .sliderkit-nav-clip {
position:relative;
overflow:hidden;
}
.sliderkit .sliderkit-nav-clip ul {
position:relative;
left:0;
top:0;
list-style:none;
margin:0;
padding:0
}
.sliderkit .sliderkit-nav-clip ul li {
float:left
}
.sliderkit .sliderkit-nav-clip ul li a {
display:block;
overflow:hidden
}
.sliderkit .sliderkit-btn {
z-index:10
}
.sliderkit .sliderkit-panel {
z-index:1;
position:absolute;
overflow:hidden
}
.sliderkit .sliderkit-panel-active {
z-index:5
}
.sliderkit .sliderkit-panel-old {
z-index:4
}
.sliderkit .sliderkit-panel .sliderkit-panel-textbox {
position:absolute;
z-index:1
}
.sliderkit .sliderkit-panel .sliderkit-panel-text {
position:absolute;
z-index:3;
top:0;
left:0
}
.sliderkit .sliderkit-panel .sliderkit-panel-overlay {
position:absolute;
z-index:2;
top:0;
left:0
}
.sliderkit .sliderkit-count {
position:absolute;
top:5px;
right:5px;
z-index:10;
color:#fff;
background:#000;
padding:5px
}
.sliderkit .sliderkit-timer {
position:absolute;
top:0;
left:0;
z-index:10;
height:3px;
background:#ccc
}

.pro2cols {
background: #FFF;
border: 1px solid #999;
margin: 0 0 10px 0;
}
.pro2col_l {
float: left;
width: 200px;
}
.pro2cols .pro2col_l h2.header {
text-align: center;
border-bottom: 1px solid #999;
background: #CCC;
font-size: 22px;
padding: 6px;
margin: 0 0 15px 0;
}
.pro2cols .pro2col_l h3 em {
font-size: 14px;
font-style: normal;
display: block;
text-align: center;
border-radius: 7px;
padding: 6px;
margin: 5px 10px;
border: 1px solid #CCC;
background: #FFF;
background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(225, 233, 238, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(225, 233, 238, 1)));
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(225, 233, 238, 1) 100%);
background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(225, 233, 238, 1) 100%);
background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(225, 233, 238, 1) 100%);
background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgba(225, 233, 238, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e9ee',GradientType=0 );
}
.pro2cols .pro2col_l ul.xpro {
list-style: none;
}
.pro2cols .pro2col_l ul.xpro li {
width: 170px;
height: 30px;
background: url(../images/sepline.png) repeat-x 0 26px;
margin: 0 auto;
line-height: 25px;
text-align: center;
}
.pro2cols .pro2col_l ul.xpro li a {
display: block;
width: 170px;
height: 25px;
line-height: 25px;
overflow: hidden;
text-align: center;
color: #666;
font-size: 13px;
text-decoration: none;
}
.pro2cols .pro2col_l ul.xpro li a:hover {
font-size: 13px;
color: #D71920;
text-decoration: none;
}
.pro2col_r {
float: left;
width: 797px;
border-left: 1px solid #999;
min-height: 800px;
height:auto !important; 
height:800px; 
overflow:visible;
}
.pro2cols .pro2col_r h2.header {
text-align: left;
border-bottom: 1px solid #999;
background: #E2E2E2;
font-size: 22px;
padding: 6px 12px;
margin: 0 0 15px 0;
}
.pro2cols .pro2col_r h2.header em {
float: right;
font-size: 13px;
font-style: normal;
line-height: 27px;
color: #333;
}
.pro2cols .pro2col_r h2.header em a {
font-size: 13px;
font-style: normal;
color: #333;
text-decoration: none;
}
.pro2cols .pro2col_r h2.header em a:hover {
color: #333;
text-decoration: underline;
}
.gcontent {
width: 544px;
margin: 0 auto;
}
.rtp {
float: right;
width: 270px;
margin: 20px 0 0 0;
}
.rtp h3 {
font-size: 16px;
margin: 0 0 10px;
}
.rtpul {
list-style: none;
}
.rtpul li {
font-size: 13px;
padding: 3px 0 5px;
}
.rtpul li div {
font-size: 13px;
margin: 0 0 5px 0;
}
a.taobao, a.qnnstore {
width: 164px;
height: 36px;
display: block;
background: url(../images/buybutton.png) no-repeat 0 0;
line-height: 36px;
text-indent: 32px;
font-size: 13px;
color: #fff;
text-decoration: none;
}
a.taobao:hover, a.qnnstore:hover {
font-size: 13px;
color: #fff;
text-decoration: underline;
}

#etalage{
display: none;
}
#etalage .etalage_thumb{
background: white url(../images/loading.gif) center no-repeat;
-webkit-box-shadow: 0 0 7px #aaa;
-moz-box-shadow: 0 0 7px #aaa;
box-shadow: 0 0 7px #aaa;
}
#etalage .etalage_small_thumbs li{
margin: 5px;
cursor: pointer;
}
#etalage ul li.etalage_smallthumb_active{
cursor: default;
}
#etalage .etalage_zoom_area, .etalage_zoom_area{
background: url(../images/loading.gif) center no-repeat;
-webkit-box-shadow: 0 0 5px #333;
-moz-box-shadow: 0 0 5px #333;
box-shadow: 0 0 5px #333;
}
#etalage .etalage_magnifier{
background: white;
-webkit-box-shadow: 0 0 5px #000;
-moz-box-shadow: 0 0 5px #000;
}
.etalage, .etalage_thumb, .etalage_thumb_image, .etalage_source_image, .etalage_zoom_preview, .etalage_icon, .etalage_hint{ display:none }
.etalage, .etalage ul, .etalage li, .etalage img, .etalage_hint, .etalage_icon, .etalage_description{ margin:0; padding:0; border:0; list-style:none }
.etalage, .etalage_magnifier div, .etalage_magnifier div img, .etalage_small_thumbs ul, ul .etalage_small_thumbs li, .etalage_zoom_area div, .etalage_zoom_img{ position:relative }
.etalage img, .etalage li{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; -webkit-user-drag:none; -moz-user-drag:none; user-drag:none }
.etalage, .etalage_small_thumbs li{ float:left }
.etalage_right{ float:right }
.etalage li{ position:absolute }
.etalage img{ vertical-align:bottom }
.etalage_magnifier{ cursor:default }
.etalage_magnifier div, .etalage_small_thumbs{ overflow:hidden }
.etalage_magnifier div img{ display:none }
.etalage_icon, .etalage_hint{ cursor:default; width:0; height:0; overflow:hidden }
.etalage_small_thumbs li.vertical{ float:none }
.etalage_zoom_area div{ overflow:hidden; z-index:997 }
.etalage_zoom_preview{ position:absolute; z-index:998 }
.etalage_zoom_img, .etalage_hint{ z-index:999 }
.etalage{ direction:ltr }
div.etalage_description{ position:absolute; bottom:0; left:0; z-index:999 }
div.etalage_description.rtl{ direction:rtl }

.tabbtns {
height: 25px;
overflow: hidden;
margin: 30px 0 10px !important;
}
.tabbtns ul {
list-style: none;
}
.tabbtns li {
float: left;
width: 96px;
height: 25px;
margin: 0 5px 0 0;
}
.tabbtns a {
font-size: 13px;
color: #666;
text-decoration: none;
}
.tabbtns a:hover {
font-size: 13px;
color: #fff;
text-decoration: none;
background: #D71920;
}
.tabbtn {
width: 96px;
height: 25px;
display: block;
line-height: 25px;
text-align: center;
color: #666666;
background: #DCD9D9;
}
a.sel {
text-decoration: none;
color: #fff;
background: #D71920;
}
a.sel:hover {
text-decoration: none;
}

.mc4 h2 {
font-size: 16px;
margin: 10px 0;
}
.mc4 h3 {
font-size: 14px;
margin: 15px 0 10px;
}
.mc4 ol {
margin: 10px 10px 10px 21px;
}
.mc4 li {
font-size: 12px;
padding: 3px 0;
line-height: 20px;
}
a.otherq {
border: 1px solid #c8c9cd;
padding: 3px;
margin: 0 3px 3px 0;
display: block;
font-size: 12px;
color: #000;
text-decoration: none;
float: left;
background: #fff;
}
a.otherq:hover {
font-size: 12px;
color: #fff;
text-decoration: underline;
background: #D71920;
}
.otherqcur {
font-weight: bold;
color: #fff !important;
background: #D71920 !important;
}
.ucontent {
padding: 10px 20px;
}
.ucontent p {
font-size: 13px;
text-indent: 13px;
margin: 15px 0;
line-height: 25px;
}
.pcontent {
padding: 0 10px 10px 10px;
}
.pcontent h3 {
font-size: 18px;
border-bottom: 1px solid #CCC;
padding: 3px 0 10px 0;
margin: 0;
}
.pcontent h4 {
margin: 10px 0 10px 0;
padding: 0 0 8px;
font-size: 18px;
border-bottom: 1px solid #CCC;
}
.prodsublist {
list-style: none;
margin: 7px 0 10px 0;
}
.prodsublist div.psli {
float: left;
display: block;
width: 154px;
height: 180px;
text-align: center;
}
.prodsublist img {
width: 150px;
height: 150px;
}
.prodsublist div.psli a {
font-size: 13px;
color: #666;
text-decoration: none;
}
.prodsublist div.psli a:hover {
color: #666;
text-decoration: underline;
}