	<div id="header">
		<div id="logo">
			<a class="logo" href="/">全能保险柜</a>
			<h2>北京代理商</h2>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" data-sub="Home">首页</a></li>
				<li><a href="/about/" data-sub="About">公司简介</a></li>
				<li><a href="/products/" data-sub="Products">产品中心</a></li>
				<li><a href="/stores/" data-sub="Stores">专卖店风采</a></li>
				<li><a href="/service/" data-sub="Service">服务中心</a></li>
				<li><a href="/contact/" data-sub="Contact Us">联系我们</a></li>
				<li class="end"></li>
			</ul>
		</div>
		<div id="telephone">
			全能保险柜总部 0757-12345678
		</div>
	</div>
