<div>
	<img class="banner" src="/images/banner.jpg" width="998" height="192" />
</div>
<div class="pro2cols">
	<div class="pro2col_l">
		<h2 class="header">产品中心</h2>
{% for category in site.product_categories %}
		<h3><em>{{ category.name }}</em></h3>
		<ul class="xpro">
{% for subcategory in category.cats %}
			<li><a href="#{{ subcategory[0] }}">{{ subcategory[1] }}</a></li>
{% endfor %}
		</ul>
{% endfor %}
	</div>
	<div class="pro2col_r">
		<h2 class="header">
			<em>你现在的位置：<a href="/">首页</a> &raquo; <a href="/products">产品中心</a></em>
			产品列表 <small>Products</small>
		</h2>
		<div class="pcontent">

{% for category in site.product_categories %}{% for subcategory in category.cats %}
<a name="{{ subcategory[0] }}"></a>
<h3>{{ subcategory[1] }}</h3>
<div class="prodsublist">{% capture subcatname %}{{ subcategory[0] }}{% endcapture %}{% for post in site.categories[subcatname] %}
			<div class="psli"><a href="{{ post.url }}"><img src="{{ site.p_img_cdn }}{{ post.images[0] }}" />{{ post.name }}</a></div>
{% endfor %}
<div class="clear"></div>
</div>
<div class="clear"></div>{% endfor %}{% endfor %}


		</div>
	</div>
	<div class="clear"></div>
</div>
