{% if page.title %}
{% if page.url contains '/products/' %}
	产品中心-
{% else %}
	{% for category in site.product_categories %}
		{% for subcategory in category.cats %}
		{% capture subcatname %}{{ subcategory[0] }}{% endcapture %}
			{% for post in site.categories[subcatname] limit:1 %}
				{% if subcatname == page.category %}
					{% capture current_category %}{{ category.name }}{% endcapture %}
					{% capture current_series %}{{ subcategory[1] }}{% endcapture %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
	{{ current_series }}
	{{ page.title }}-
{% endif %}
全能保险柜{{ site.name }}
{% else %}
{{ site.title }}
{% endif %}