{% include top.html %}
	<div id="header">
		<div id="logo"><a class="logo" href="/">全能保险柜</a><h2>{{ site.name }}</h2></div>
		<div id="telephone"><a href="http://www.qnnsafe.com/" target="_blank">全能保险柜总部</a> 400-830-4555</br>{{ site.telephone }}</div>
		<div id="menucontainer">
			<div id="menu">
				<ul>
					<li><a{% if page.url == '/index.html' %} class="current"{% endif %} href="/">首页</a></li>
					<li><a{% if page.url contains '/about/' %} class="current"{% endif %} href="/about/">公司简介</a></li>
					<li><a{% if page.url contains '/products/' %} class="current"{% endif %} href="/products/">产品中心</a></li>
					<li><a{% if page.url contains '/stores/' %} class="current"{% endif %} href="/stores/">专卖店风采</a></li>
					<li><a href="http://www.qnn.com.cn/support/" target="_blank">服务中心</a></li>
					<li><a{% if page.url contains '/contact/' %} class="current"{% endif %} href="/contact/">联系我们</a></li>
					<li class="end"></li>
				</ul>
			</div>
		</div>
	</div>
{{ content }}
	<div id="footer">
		<div class="copy">{{ site.copy }}</div>
		<div class="creator">网站建设维护与优化：<a href="http://www.8html.com/" target="_blank">8HTML</a></div>
	</div>
{% include bottom.html %}
