{% include top.html %}
	<div id="header">
		<div id="logo"><a class="logo" href="/">全能保险柜</a><h2>{{ site.name }}</h2></div>
		<div id="telephone">全能保险柜总部：400-830-4555</div>
		<div id="telephones">{{ site.telephone }}</div>
		<div id="menucontainer">
			<div id="menu">
				<ul>
					<li><a{% if page.url == '/index.html' %} class="current"{% endif %} href="/">首页</a></li>
					<li><a{% if page.url contains '/about/' %} class="current"{% endif %} href="/about/">全能简介</a></li>
					<li><a{% if page.url contains '/find/' %} class="current"{% endif %} href="/find/">产品导购</a></li>
					<li><a{% if page.url contains '/products/' %} class="current"{% endif %} href="/products/">产品中心</a></li>
					<li><a{% if page.url contains '/stores/' %} class="current"{% endif %} href="/stores/">专卖店风采</a></li>
					<li><a{% if page.url contains '/360-panoramas/' %} class="current"{% endif %} href="/360-panoramas/">总部工厂360°实景</a></li>
					<li><a{% if page.url contains '/services/' %} class="current"{% endif %} href="/services/">服务中心</a></li>
					<li><a{% if page.url contains '/contact/' %} class="current"{% endif %} href="/contact/">联系我们</a></li>
					<li class="end"></li>
				</ul>
			</div>
		</div>
	</div>
{{ content }}
	<div id="footer">
		<div class="copy">&copy; 1999-2013 全能保险柜{{ site.name }} <a href="http://www.miitbeian.gov.cn/" target="_blank">{{ site.beian }}</a> <a href="/Sitemap.xml" target="_blank">Sitemap</a></div>
		<div class="creator">网站建设维护与优化：<a href="http://www.8html.com/" target="_blank">8HTML</a></div>
	</div>
{% include bottom.html %}
