---
layout: default
---
	<div id="main">
		<div id="slidercontainer">
			<div id="slider" class="sliderkit photoslider-bullets">
				<div class="sliderkit-nav">
					<div class="sliderkit-nav-clip">
						<ul>{% for slide in site.slider %}
							<li><a href="javascript:;"><img src="{{ slide.image }}" /></a></li>{% endfor %}
						</ul>
					</div>
				</div>
				<div class="sliderkit-panels">{% for slide in site.slider %}
					<div class="sliderkit-panel">
						<a href="{{ slide.link }}"><img alt="保险柜" src="{{ slide.image }}" /></a>
					</div>{% endfor %}
				</div>
			</div>
			<div id="servicecontainer">
				<div id="hmpgservice">
{{ site.service | markdownify | indent:4 }}
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="onecol">
			<div class="bradcontainer">
				<h3 class="bctitle">产品中心 <small>Products</small></h3>
				<div class="switcher">
					<div class="schild open">
							<div class="snum">1</div>
							<div class="stitle"><a href="/bw-6960.html">家用系列</a></div>
							<div class="sinfo">全钢结构，多门栓设计，坚固防撬，全面符合国家3C认证标准，创造极致全能安全生活空间。</div>
							<div class="simg"><a href="/bw-6960.html"><img src="{{ site.p_img_cdn }}bw-6960-01.jpg" /></a></div>
					</div>
					<div class="schild">
							<div class="snum">2</div>
							<div class="stitle"><a href="/cw-7348.html">商用系列</a></div>
							<div class="sinfo">全钢结构，多门栓设计，坚固防撬，全面符合国家3C认证标准，创造极致全能安全生活空间。</div>
							<div class="simg"><a href="/cw-7348.html"><img src="{{ site.p_img_cdn }}cw-7348-01.jpg" /></a></div>
					</div>
					<div class="schild">
							<div class="snum">3</div>
							<div class="stitle"><a href="/cw-7348.html">办公系列</a></div>
							<div class="sinfo">全钢结构，多门栓设计，坚固防撬，全面符合国家3C认证标准，创造极致全能安全生活空间。</div>
							<div class="simg"><a href="/cw-7348.html"><img src="{{ site.p_img_cdn }}cw-7348-01.jpg" /></a></div>
					</div>
					<div class="schild">
							<div class="snum">4</div>
							<div class="stitle"><a href="/cw-7348.html">酒店系列</a></div>
							<div class="sinfo">全钢结构，多门栓设计，坚固防撬，全面符合国家3C认证标准，创造极致全能安全生活空间。</div>
							<div class="simg"><a href="/cw-7348.html"><img src="{{ site.p_img_cdn }}cw-7348-01.jpg" /></a></div>
					</div>
					<div class="schild">
							<div class="snum">5</div>
							<div class="stitle"><a href="/cw-7348.html">金融系列</a></div>
							<div class="sinfo">全钢结构，多门栓设计，坚固防撬，全面符合国家3C认证标准，创造极致全能安全生活空间。</div>
							<div class="simg"><a href="/cw-7348.html"><img src="{{ site.p_img_cdn }}cw-7348-01.jpg" /></a></div>
					</div>
					<div class="schild">
							<div class="snum">6</div>
							<div class="stitle"><a href="/cw-7348.html">枪弹系列</a></div>
							<div class="sinfo">全钢结构，多门栓设计，坚固防撬，全面符合国家3C认证标准，创造极致全能安全生活空间。</div>
							<div class="simg"><a href="/cw-7348.html"><img src="{{ site.p_img_cdn }}cw-7348-01.jpg" /></a></div>
					</div>
					<div class="schild">
							<div class="snum">7</div>
							<div class="stitle"><a href="/cw-7348.html">物流系列</a></div>
							<div class="sinfo">全钢结构，多门栓设计，坚固防撬，全面符合国家3C认证标准，创造极致全能安全生活空间。</div>
							<div class="simg"><a href="/cw-7348.html"><img src="{{ site.p_img_cdn }}cw-7348-01.jpg" /></a></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="bradcontainer">
				<h3 class="bctitle">专卖店风采 <small>Stores</small></h3>
				<div class="gall">
					<ul>{% for photo in site.photos limit:4 %}
						<li>
							<a href="/stores/"><img src="{{ photo.thumb }}" /></a>
						</li>{% endfor %}
					</ul>
				</div>
			</div>
			<div class="bradc2s">
				<div class="bradcontainer bradc1">
					<h3 class="bctitle">公司简介 <small>About Us</small></h3>
					<div class="bradcontent">
						<img class="leftimg" alt="全能保险柜" src="/images/aboutqnn.jpg" width="200" height="132" />
{% capture about %}{% if site.homepage_about %}{{ site.homepage_about }}{% else %}全能保险柜{{ site.name }}是以从事保险柜（箱）等安防产品为主的现代化保险柜，拥有占地面积33000平方米的现代化厂房，装备了数百台国际著名品牌的数控冲床、折弯机、激光切割机、以及弧焊机器人等设备，并配备了独立的研发中心、检测中心、寿命实验室，具有世界领先的制造设备和工艺流程，产品涉及家用保险柜、文件保密柜、酒店客房保险箱、枪弹柜、金库门等多个系列近300余款产品，年生产规模超过30万台。...{% endif %}{% endcapture %}{{ about | markdownify | indent:5 }}
					</div>
				</div>
				<div class="bradcontainer bradc2">
					<h3 class="bctitle">联系我们 <small>Contact Us</small></h3>
					<div class="bradcontent">
						<img class="rightimg" alt="全能保险柜" src="/images/contactus.png" width="132" height="117" />
{{ site.contact | markdownify | indent:6 }}
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
