---
layout: default
more_scripts: ["scripts/jquery-etalage-1.3.1.min.js"]
---
{% for category in site.product_categories %}{% for subcategory in category.cats %}{% capture subcatname %}{{ subcategory[0] }}{% endcapture %}{% for post in site.categories[subcatname] limit:1 %}{% if subcatname == page.category %}{% capture current_category %}{{ category.name }}{% endcapture %}{% capture current_series %}{{ subcategory[1] }}{% endcapture %}{% endif %}{% endfor %}{% endfor %}{% endfor %}
	<div>
		<img class="banner" src="/images/banner.jpg" width="998" height="192" />
	</div>
	<div class="pro2cols">
		<div class="pro2col_a">
			<h2 class="header">
				<em>你现在的位置：<a href="/">首页</a> &raquo; <a href="/products/">产品中心</a> &raquo; {{ page.name }}</em>
				{{ current_series | replace:'系列','' }} {{ page.name }}
			</h2>
			<div class="gcontent">
				<div class="rtp">
					<h3>{{ current_category }}产品—{{ current_series | replace:'系列','' }}系列</h3>
					<ul class="rtpul">
						<li>规格：{{ page.specs }}</li>
						<li>厚度：{{ page.thickness }}</li>
						<li>净重：{{ page.weight }}</li>
						<li>
							<div class="clear">请选择型号：</div>{% for post in site.categories[page.category] %}
							<a class="otherq{% if post.name == page.name %} otherqcur{% endif %}" href="{{ post.url }}" title="{{ post.name }}"><img src="{{ site.p_img_cdn }}{{ post.images[0] }}" /><br />{{ post.name }}</a>{% endfor %}
							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="lfp">
					<ul id="etalage">{% for image in page.images %}
						<li><img class="etalage_source_image" src="{{ site.p_img_cdn }}{{ image }}" /></li>{% endfor %}
					</ul>
				</div>
				<div class="clear"></div>
				<div class="tabbtns mt10px">
					<ul>
						<li><a href="javascript:;" class="tabbtn sel">功能特性</a></li>
						<li><a href="javascript:;" class="tabbtn">产品参数</a></li>
						<li><a href="javascript:;" class="tabbtn">说明书</a></li>
						<li><a href="javascript:;" class="tabbtn">常见问题</a></li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="pc2hr"></div>
				<div class="maincontent mt10px">
					<div class="mc mc1">
{{ page.page1 | sub_img_cdn:site.p_img_cdn | indent:6 }}
					</div>
					<div class="mc mc2 hidden">
{{ page.page2 | sub_img_cdn:site.p_img_cdn | indent:6 }}
					</div>
					<div class="mc mc3 hidden">
{{ page.page3 | sub_img_cdn:site.p_img_cdn | indent:6 }}
					</div>
					<div class="mc mc4 hidden">
{% capture faq %}{% include faq.md %}{% endcapture %}{{ faq | markdownify | indent:6 }}
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
