---
layout: default
---
	<div id="jobx">
	<div>
		<img class="banner" src="/images/banner.jpg" width="998" height="192" />
	</div>
	<div class="position">
		位置：<a href="/">主页</a> &raquo; <a href="/about/">公司简介</a>
	</div>
	<div class="twocols">
		<div class="leftcol">
{% include _layout_alpha_sidebar.html %}
		</div>
		<div class="rightcol">
			<img src="/images/qnn.jpg" width="784" height="182">
			<div class="pcontent">
{% capture about %}{% include about_company.md %}{% endcapture %}{{ about | markdownify | indent:4 }}
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</div><!-- #jobx -->
