---
layout: default
---
	<div id="main">
		<div id="slider" class="sliderkit photoslider-bullets">
			<div class="sliderkit-nav">
				<div class="sliderkit-nav-clip">
					<ul>{% for slide in site.slider %}
						<li><a href="#"></a></li>{% endfor %}
					</ul>
				</div>
			</div>
			<div class="sliderkit-panels">{% for slide in site.slider %}
				<div class="sliderkit-panel">
					<a href="{{ slide.link }}"><img alt="保险柜" src="{{ slide.image }}" /></a>
				</div>{% endfor %}
			</div>
		</div>
		<div class="threecols">
			<div class="leftcol">
				<div class="lcblock">
					<h3>产品中心 <em>Products</em></h3>
					<ul class="seriesul">
{% for category in site.product_categories %}{% for subcategory in category.cats %}{% capture subcatname %}{{ subcategory[0] }}{% endcapture %}{% for post in site.categories[subcatname] limit:1 %}{% if subcatname == page.category %}{% capture current_category %}{{ category.name }}{% endcapture %}{% capture current_series %}{{ subcategory[1] }}{% endcapture %}{% endif %}
						<li><a href="{{ post.url }}">{{ subcategory[1] }}</a></li>{% endfor %}{% endfor %}{% endfor %}
					</ul>
				</div>
			</div>
			<div class="middlecol">
				<div class="mcblock">
					<h3><a class="morelink" href="/about/">More...</a> 公司简介 About Company</h3>
					<img class="pano" src="/images/qnn_small.jpg" width="428" height="100" />
					<p class="normtext">全能保险柜是以从事保险柜（箱）等安防产品为主的现代化保险柜，拥有占地面积33000平方米的现代化厂房，装备了数百台国际著名品牌的数控冲床、折弯机、激光切割机、以及弧焊机器人等设备，并配备了独立的研发中心、检测中心、寿命实验室，具有世界领先的制造设备和工艺流程，产品涉及家用保险柜、文件保密柜、酒店客房保险箱、枪弹柜、金库门等多个系列近300余款产品，年生产规模超过30万台。</p>
				</div>
				
				<div class="mcblock">
					<h3><a class="morelink" href="/products/">More...</a> 产品展示 Showcase</h3>
					<ul class="mccase">{% capture site_posts_size %}{{ site.posts | size | minus:3 }}{% endcapture %}{% for post in site.posts limit:3 offset:site_posts_size %}
						<li class="graygrad"><a href="{{ post.url }}"><img src="{{ site.p_img_cdn }}{{ post.images[0] }}" />{{ post.title }}</a></li>{% endfor %}
					</ul>
					<div class="clear"></div>
					<ul class="mccase">{% capture site_posts_size %}{{ site.posts | size | minus:6 }}{% endcapture %}{% for post in site.posts limit:3 offset:site_posts_size %}
						<li class="graygrad"><a href="{{ post.url }}"><img src="{{ site.p_img_cdn }}{{ post.images[0] }}" />{{ post.title }}</a></li>{% endfor %}
					</ul>
					<div class="clear"></div>
				</div>
			</div>
			<div class="rightcol">
				<div class="rcblock">
					<h3><a class="morelink" href="http://www.qnn.com.cn/support/" target="_blank">More...</a> 客户中心</h3>
					<div class="contactbox">
{{ site.service | markdownify | indent:6 }}
						<div class="clear"></div>
						<img src="/images/service.jpg" width="250" height="74" />
					</div>
				</div>
				<div class="rcblock">
					<h3><a class="morelink" href="/contact/">More...</a> 联系我们</h3>
					<div class="continfo">
{{ site.contact | markdownify | indent:6 }}
						<img src="/images/contactus2.jpg" width="230" height="74" />
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
